streamlit
requests
pandas
numpy
plotly
py3Dmol==2.0.0.post2
stmol
biopython
scikit-learn
torch
esm==3.2.1.post1
joblib
transformers<4.48.2
tenacity
altair<7
cachetools
click
pillow
protobuf
pyarrow
watchdog
